<div class="p-4">
  <div class="flex flex-row justify-between">
    <h1>Applicants Status</h1>
    <div class="flex flex-row gap-2">
      <app-button
        color="btn-primary"
        textColor="text-base-100"
        [small]="true"
        (onClick)="syncApplicantsData()"
        text="Sync Applicants Data"
        class="min-w-[100px]"
        class="cursor-not-allowed"
        [loader]="loader"
      ></app-button>
      <app-button
        color="btn-primary"
        textColor="text-base-100"
        [small]="true"
        (onClick)="downloadApplicantsData()"
        text="Download .csv"
        class="min-w-[100px]"
        class="cursor-not-allowed"
        [loader]="loader"
      ></app-button>
    </div>
  </div>
  <div>
    <!-- style this in a better way -->
    <div class="flex w-full felx-col justify-start gap-12 flex-wrap mt-4 mb-4">
      <div>
        <h3 class="!mb-0">Passed</h3>
        <h1 class="text-green !mb-0">{{ passed }}</h1>
      </div>
      <div>
        <h3 class="!mb-0">Failed</h3>
        <h1 class="text-orange !mb-0">{{ failed }}</h1>
      </div>

      <div>
        <h3 class="!mb-0">Total</h3>
        <h1 class="text-orange !mb-0">{{ totalApplicants }}</h1>
      </div>
      <div>
        <h3 class="!mb-0">Registered to 1st Check-in</h3>
        <h1 class="text-green !mb-0">{{ registeredToCheckIn1 }}</h1>
      </div>
      <!-- * uncomment when second check in gets announced -->
      <div>
        <h3 class="!mb-0">Registered to 2nd Check-in</h3>
        <h1 class="text-green !mb-0">{{ registeredToCheckIn2 }}</h1>
      </div>
      <!-- * uncomment when the selection pool events get created -->
      <div>
        <h3 class="!mb-0">Registered to SP</h3>
        <h1 class="text-green !mb-0">{{ registeredToSp }}</h1>
      </div>
    </div>
    <div class="flex w-full felx-col justify-start gap-4 flex-wrap mt-4">
      <app-date-picker
        label="Start Date"
        [FGN]="form"
        FCN="startDate"
        (onChange)="startDate($event)"
      ></app-date-picker>
      <app-date-picker
        label="End Date"
        [FGN]="form"
        FCN="endDate"
        (onChange)="endDate($event)"
      ></app-date-picker>
    </div>
    <div class="flex w-full felx-col justify-start gap-4 flex-wrap mt-4 mb-4">
      <app-single-select
        [FGN]="form"
        FCN="applicantsStatus"
        [data]="applicationStatus"
        placeholder="status"
        prefix="Status"
        (changed)="status($event)"
        class="basis-1/8"
        [preSetValue]="statusPreSet"
      ></app-single-select>
      <app-single-select
        [FGN]="form"
        FCN="applicantsGradeStart"
        [data]="applicantsGradeStart"
        placeholder="grade range"
        prefix="Starting Grade"
        (changed)="gradeStart($event)"
        class="basis-1/8"
        [preSetValue]="gradeStartPreSet"
      ></app-single-select>
      <app-single-select
        [FGN]="form"
        FCN="applicantsGradeEnd"
        [data]="applicantsGradeEnd"
        placeholder="grade range"
        prefix="End Grade"
        (changed)="gradeEnd($event)"
        class="basis-1/8"
        [preSetValue]="gradeEndPreSet"
      ></app-single-select>
      <app-single-select
        [FGN]="form"
        FCN="applicantsSorter"
        [data]="applicantsSorter"
        placeholder="sort"
        prefix="Sort"
        (changed)="sort($event)"
        class="basis-1/8"
        [preSetValue]="sortPreSet"
      ></app-single-select>
      <app-button
        color="btn-primary"
        textColor="text-base-100"
        [medium]="true"
        (onClick)="resetFilters()"
        text="Reset Filters"
        class="min-w-[100px]"
        [loader]="loader"
        class="basis-1/8 self-end"
      ></app-button>
    </div>

    <div>
      <app-table
        [columns]="columns"
        [data]="data"
        [actionButtons]="true"
        [showPagination]="false"
        (editClicked)="updateApplicant($event)"
        [showPagination]="false"
      ></app-table>
    </div>
  </div>
</div>

<app-success-dialog
  [editText]="true"
  dialogId="dialog"
  [title]="dialogTitle"
  [message]="message"
  [dismiss]="button"
  [action]="button2"
  (dismissed)="dismiss()"
  (confirm)="confirmDelete($event)"
  [twoButtons]="true"
></app-success-dialog>
