<div class="dashboardContainer" dir="ltr">
  <div class="navigationBarContainer opacity-90">
    <div class="logo">
      <a (click)="navigateToHome()">
        <img
          class="w-48 h-34"
          src="../../../assets/images/Reboot 01 Logo White-04.png"
        />
      </a>
    </div>
    <div class="navigationContainer">
      <div class="navigationBar">
        <div class="navigationLink" *ngFor="let link of navigationMenu">
          <a
            routerLink="{{ link.link }}"
            [ngClass]="[link.active ? 'active' : '']"
          >
            <div class="navLinkIcon">
              <img
                class="filter-white"
                src="{{ link.iconPathInactive }}"
                alt="{{ link.linkName }}"
              />
            </div>
            <div class="hidden navLinkText lg:flex">
              {{ link.linkName }}
            </div>
          </a>
        </div>
      </div>
      <!-- logout icon -->
      <div>
        <div
          class="p-2 cursor-pointer text-base-100"
          (click)="changePassword()"
        >
          <a class="flex flex-row items-center gap-3">
            <div class="logoutLink">
              <img
                class="filter-white w-[30px] min-h-[20]"
                src="../../../assets/icons/password.svg"
                alt="Logout"
              />
            </div>
            <div class="hidden lg:flex mt-2">Reset Password</div>
          </a>
        </div>
        <div
          class="p-3 mb-12 cursor-pointer logoutLink text-base-100"
          (click)="signOut()"
        >
          <a class="flex flex-row items-center gap-3">
            <div class="logoutLink">
              <img
                class="filter-white w-[30px]"
                src="../../../assets/icons/logout.svg"
                alt="Logout"
              />
            </div>
            <div class="hidden lg:flex">Logout</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navigationPlatform"></div>
  <div class="mainContainer">
    <div class="dashboardContentBox">
      <div class="spinner-container" *ngIf="loading">
        <app-loader></app-loader>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
