<div class="w-screen h-screen flex flex-col justify-center items-center">
  <h1 class="text-3xl mb-8">Change Password</h1>
  <app-text-field
    [FGN]="form"
    FCN="oldPassword"
    label="Old Password"
    inputType="password"
    class="w-full max-w-lg p-2"
  >
  </app-text-field>
  <div class="erroMessage" *ngIf="isValid('oldPassword')">
    please fill field with correct value
  </div>
  <app-text-field
    [FGN]="form"
    FCN="newPassword"
    label="New Password"
    inputType="password"
    class="w-full max-w-lg p-2"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('newPassword')">
    please fill field with correct value
  </div>
  <app-text-field
    [FGN]="form"
    FCN="confirmNewPassword"
    label="Confirm New Password"
    inputType="password"
    class="w-full max-w-lg p-2"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('confirmNewPassword')">
    Passwords do not match  </div>
  <!-- <div *ngIf="form.get('confirmNewPassword').hasError('mismatch')">Passwords do not match</div> -->
  <app-button
    color="btn-primary"
    textColor="text-base-100"
    text="Change Password"
    [wide]="true"
    (onClick)="changePassword()"
    [disabled]="!form.valid"
    class="mt-12 mr-2"
    [loader]="loader"
  >
  </app-button>
  <app-success-dialog
    dialogId="dialog"
    [title]="dialogTitle"
    [message]="message"
    [action]="button2"
    (confirm)="dismiss()"
    [twoButtons]="false"
  ></app-success-dialog>
</div>
