<div class="w-screen h-screen flex flex-col justify-center items-center">
  <h1 class="text-3xl mb-8">Login</h1>
  <app-text-field
    [FGN]="form"
    FCN="email"
    label="Email"
    inputType="email"
    class="w-full max-w-lg p-2"
  >
  </app-text-field>
  <div class="erroMessage" *ngIf="isValid('email')">
    please fill field with correct value
  </div>
  <app-text-field
    [FGN]="form"
    FCN="password"
    label="Password"
    inputType="password"
    class="w-full max-w-lg p-2"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('password')">
    please fill field with correct value
  </div>
  <app-button
    color="btn-primary"
    textColor="text-base-100"
    text="Login"
    [wide]="true"
    (onClick)="login()"
    [disabled]="!form.valid"
    class="mt-12 mr-2"
    [loader]="loader"
  >
  </app-button>
</div>
