<div class="p-6">
  <h1>{{ title }}</h1>

  <div class="flex mt-8 w-full gap-4">
    <div class="w-1/2 flex flex-col gap-4">
      <app-text-field
        prefix="Student ID"
        label="Student ID"
        [FGN]="studentForm"
        FCN="studentId"
        inputType="number"
      ></app-text-field>
      <app-text-field
        prefix="Platform ID"
        label="Platfom ID"
        [FGN]="studentForm"
        FCN="platformId"
        inputType="text"
      ></app-text-field>
      <div class="erroMessage" *ngIf="platformIdError">
        please fill correct platform ID
      </div>
      <app-text-field
        prefix="First name"
        label="First name"
        [FGN]="studentForm"
        FCN="firstName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Last name"
        label="Last Name"
        [FGN]="studentForm"
        FCN="lastName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="CPR"
        label="CPR"
        [FGN]="studentForm"
        FCN="cpr"
        [min]="9"
        [max]="11"
        inputType="text"
      ></app-text-field>
      <div class="erroMessage" *ngIf="isValid('cpr')">
        please fill CPR number containing at least 9 digits
      </div>
      <app-text-field
        prefix="Acadamic Specilaization"
        label="Acadamic Specilaization"
        [FGN]="studentForm"
        FCN="acadamicSpecialization"
        inputType="text"
      ></app-text-field>
      <app-single-select
        prefix="Cohort"
        label="Cohort"
        [FGN]="studentForm"
        FCN="cohortId"
        placeholder="Select Cohort"
        [data]="cohortsSelectedData"
        preSetValue="5"
        [disabled]="true"
      ></app-single-select>
    </div>
    <div class="col-span-1 w-1/2 flex flex-col">
      <b
        >Please Add the students who enrolled in the cohort only, follow these
        please:</b
      >
      <div class="text-base font-thin text-[#848484]">
        <br />
        1. The Student's ID is our assigned ID e.g Mohammed Alsammak ID is
        23011004.
        <br />
        2. The Platfom ID is 01's generated ID e.g Mohammed Alsammak's is
        malsamma.
        <br />
        3. Make sure you get a success message when you add a Student to the
        Cohort.
        <br />
      </div>
    </div>
  </div>
  <div class="action-buttons gap-2 mt-6 w-full flex justify-center">
    <app-button
      [text]="title"
      [medium]="true"
      class="min-w-[100px]"
      (onClick)="addStudent()"
      [loader]="addLoader"
      [disabled]="!studentForm.valid"
    ></app-button>
    <app-button
      text="Cancel"
      [medium]="true"
      class="min-w-[100px]"
      (onClick)="navigateBack()"
    ></app-button>
  </div>
  <app-success-dialog
    dialogId="dialog"
    [title]="dialogTitle"
    [message]="message"
    [dismiss]="button"
    [action]="button2"
    (dismissed)="navigateBack()"
    (confirm)="dismiss()"
    [twoButtons]="true"
  ></app-success-dialog>
</div>
