<div class="p-6">
  <h1>{{ title }}</h1>

  <div class="flex mt-8 w-full gap-4">
    <div class="w-1/2 flex flex-col gap-2">
      <app-text-field
        prefix="Student ID"
        label="Student ID"
        [FGN]="studentForm"
        FCN="studentId"
        inputType="number"
      ></app-text-field>
      <app-text-field
        prefix="Platform ID"
        label="Platfom ID"
        [FGN]="studentForm"
        FCN="platformId"
        inputType="text"
      ></app-text-field>
      <div class="erroMessage" *ngIf="platformIdError">
        please fill correct platform ID
      </div>
      <app-text-field
        prefix="First name"
        label="First name"
        [FGN]="studentForm"
        FCN="firstName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Last name"
        label="Last Name"
        [FGN]="studentForm"
        FCN="lastName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="CPR"
        label="CPR"
        [FGN]="studentForm"
        FCN="cpr"
        [min]="9"
        [max]="11"
        inputType="text"
      ></app-text-field>
      <div class="erroMessage" *ngIf="isValid('cpr')">
        please fill CPR number containing at least 9 digits
      </div>
      <app-text-field
        prefix="Academic Specilaization"
        label="Academic Specilaization"
        [FGN]="studentForm"
        FCN="academicSpecialization"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Acadamic Institute"
        label="Acadamic Institute"
        [FGN]="studentForm"
        FCN="academicInstitute"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Current Job Title"
        label="Current Job Title"
        [FGN]="studentForm"
        FCN="currentJobTitle"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Company name & CR"
        label="Company Name & CR"
        [FGN]="studentForm"
        FCN="companyNameAndCr"
        inputType="text"
      ></app-text-field>
      <app-single-select
        prefix="Cohort"
        label="Cohort"
        [FGN]="studentForm"
        FCN="cohortId"
        placeholder="Select Cohort"
        [data]="cohortsSelectedData"
        [preSetValue]="cohortPreSetValue"
        (changed)="cohortOnChange($event)"
      ></app-single-select>
      <app-single-select
        prefix="SP"
        label="SP"
        [FGN]="studentForm"
        FCN="sp"
        placeholder="Select SP"
        [data]="spSelectedData"
        (changed)="spOnChange($event)"
        [preSetValue]="spValue"
      ></app-single-select>
    </div>
    <div class="col-span-1 w-1/2 gap-2 flex flex-col">
      <app-single-select
        prefix="Marital Status"
        label="Marital Status"
        [FGN]="studentForm"
        FCN="maritalStatus"
        placeholder="Select status"
        [data]="maritalStatusSelectedData"
        (changed)="maritalStatusChange($event)"
        [preSetValue]="maritalStatusPreSetValue"
      ></app-single-select>
      <app-single-select
        prefix="Occupation"
        label="Occupation"
        [FGN]="studentForm"
        FCN="occupation"
        placeholder="Select occupation"
        [data]="occupationSelectedData"
        (changed)="occupationChange($event)"
        [preSetValue]="occupationPreSetValue"
      ></app-single-select>
      <app-single-select
        prefix="Highest Degree"
        label="Highest Degree"
        [FGN]="studentForm"
        FCN="highestDegree"
        placeholder="Select degree"
        [data]="highestDegreeSelectedData"
        (changed)="degreeChange($event)"
        [preSetValue]="degreePreSetValue"
      ></app-single-select>

      <app-single-select
        prefix="Sponsorship"
        label="Sponsorship"
        [FGN]="studentForm"
        FCN="sponsorship"
        placeholder="Select sponsorship"
        [data]="sponsorshipSelectedData"
        (changed)="sponsorshipChange($event)"
        [preSetValue]="sponsorshipPreSetValue"
      ></app-single-select>
      <app-single-select
        prefix="Unipal"
        label="Unipal"
        [FGN]="studentForm"
        FCN="unipal"
        placeholder="Select enrollment"
        [data]="yesNoSelectedData"
        (changed)="unipalChange($event)"
        [preSetValue]="unipalPreSetValue"
      ></app-single-select>
      <app-single-select
        prefix="Discord"
        label="Discord"
        [FGN]="studentForm"
        FCN="discord"
        placeholder="Select enrollment"
        [data]="yesNoSelectedData"
        (changed)="discordChange($event)"
        [preSetValue]="discordPreSetValue"
      ></app-single-select>
      <app-single-select
        prefix="Train me"
        label="Train me"
        [FGN]="studentForm"
        FCN="trainMe"
        placeholder="Select enrollment"
        [data]="yesNoSelectedData"
        (changed)="trainMeChange($event)"
        [preSetValue]="trainMePreSetValue"
      ></app-single-select>
      <div>
        <span class="font-semibold text-sm text-[#848484]">
          Graduation Date
        </span>
        <app-date-picker
          label="Graduation date"
          [FGN]="studentForm"
          FCN="graduationDate"
          (onChange)="graduationDataSelected($event)"
        ></app-date-picker>
      </div>
      <b
        >Please Add the students who enrolled in the cohort only, follow these
        please:</b
      >
      <div class="text-base font-thin text-[#848484]">
        <br />
        1. The Student's ID is our assigned ID e.g Mohammed Alsammak ID is
        23011004.
        <br />
        2. The Platfom ID is 01's generated ID e.g Mohammed Alsammak's is
        malsamma.
        <br />
        3. Make sure you get a success message when you add a Student to the
        Cohort.
        <br />
      </div>
    </div>
  </div>
  <div class="action-buttons gap-2 mt-6 w-full flex justify-center">
    <app-button
      [text]="title"
      [medium]="true"
      class="min-w-[100px]"
      (onClick)="mutateStudent()"
      [loader]="addLoader"
    ></app-button>
    <!-- [disabled]="!studentForm.valid" -->

    <app-button
      text="Cancel"
      [medium]="true"
      class="min-w-[100px]"
      (onClick)="navigateBack()"
    ></app-button>
  </div>
  <app-success-dialog
    dialogId="dialog"
    [title]="dialogTitle"
    [message]="message"
    [dismiss]="button"
    [action]="button2"
    (dismissed)="navigateBack()"
    (confirm)="dismiss()"
    [twoButtons]="true"
  ></app-success-dialog>
</div>
