<div class="p-4">
  <h1>Add Student</h1>

  <div class="flex col-span-2 mt-2 w-full">
    <div class="col-span-1 w-1/2 justify-start">
      <app-text-field
        prefix="Student ID"
        label="Student ID"
        [FGN]="studentForm"
        FCN="studentId"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Platform ID"
        label="Platfom ID"
        [FGN]="studentForm"
        FCN="platformId"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="First name"
        label="First name"
        [FGN]="studentForm"
        FCN="firstName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Last name"
        label="Last Name"
        [FGN]="studentForm"
        FCN="lastName"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Acadamic Specilaization"
        label="Acadamic Specilaization"
        [FGN]="studentForm"
        FCN="acadamicSpecialization"
        inputType="text"
      ></app-text-field>
      <app-text-field
        prefix="Cohort"
        label="Cohort"
        [FGN]="studentForm"
        FCN="cohortId"
        inputType="number"
      ></app-text-field>
    </div>
    <div class="col-span-1 w-1/2 justify-center">
      instructions
      <br />
      Doing the
      <br />
      doing on
      <br />
      you can do it
      <br />
    </div>
  </div>
</div>
