<div class="p-4">
  <h1>Piscine Details:</h1>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row gap-12">
      <div class="flex flex-col">
        <h3>Active last 24 hours</h3>
        <h1 class="text-green">{{ lastavtivityIn24 }}</h1>
      </div>
      <div class="flex flex-col">
        <h3>Active last 48 hours</h3>
        <h1 class="text-green">{{ lastavtivityIn48 }}</h1>
      </div>
    </div>
    <app-button
      color="btn-primary"
      textColor="text-base-100"
      [small]="true"
      (onClick)="syncApplicantsData()"
      text="Sync SP Data"
      class="min-w-[100px]"
      class="cursor-not-allowed"
      [loader]="loader"
    ></app-button>
  </div>

  <div>
    <app-table
      [columns]="columns"
      [data]="data"
      [image]="true"
      [actionButtons]="true"
      [showPagination]="false"
      [showPagination]="false"
      (editClicked)="navigateToCandidate($event)"
      (deleteClicked)="commentCandidate($event)"
    ></app-table>
  </div>
</div>

<app-success-dialog
  [editText]="true"
  dialogId="dialog"
  [title]="dialogTitle"
  [message]="message"
  [dismiss]="button"
  [action]="button2"
  (dismissed)="dismiss()"
  (confirm)="confirmDelete($event)"
  [twoButtons]="true"
></app-success-dialog>
