<div class="p-4">
  <h1>Piscine Details:</h1>
  <div class="flex flex-row gap-12">
    <div class="flex flex-col">
      <h3>Active last 24 hours</h3>
      <h1 class="text-green">{{ lastavtivityIn24 }}</h1>
    </div>
    <div class="flex flex-col">
      <h3>Active last 48 hours</h3>
      <h1 class="text-green">{{ lastavtivityIn48 }}</h1>
    </div>
  </div>

  <div>
    <app-table
      [columns]="columns"
      [data]="data"
      [image]="true"
      [actionButtons]="true"
      [showPagination]="false"
      [showPagination]="false"
      (editClicked)="navigateToCandidate($event)"
    ></app-table>
  </div>
</div>
