<div class="flex justify-between p-4 w-full">
  <h1 *ngIf="!showAddButton">Students</h1>
  <div class="flex flex-row gap-4">
    <app-button
      color="btn-primary"
      textColor="text-base-100"
      [small]="true"
      (onClick)="birthdayPage()"
      text="BIRTHDAYS!"
      class="min-w-[100px]"
    ></app-button>
    <app-button
      color="btn-primary"
      textColor="text-base-100"
      [small]="true"
      text="Edit"
      (onClick)="addStudents()"
      text="Add Student"
      class="min-w-[100px]"
      *ngIf="!showAddButton"
    ></app-button>
  </div>
</div>
<div class="p-4" *ngIf="!loader">
  <div class="mb-4">
    <search-drop-down
      [FGN]="searchForm"
      FCN="searchInput"
      (itemClicked)="viewCandidate($event)"
      (searchClicked)="search()"
      [loader]="searchLoader"
      [results]="searchValues"
      *ngIf="!showAddButton"
      (cancel)="cancelSearch()"
    ></search-drop-down>
  </div>
  <app-table
    *ngIf="!showResults && !showAddButton"
    [columns]="columns"
    [data]="data"
    [actionButtons]="true"
    (editClicked)="viewCandidate($event)"
    (deleteClicked)="deleteStudent($event)"
    [numberOfPages]="numberOfPages"
    [showPagination]="false"
    [currentPage]="currentPage"
    (forward)="forawrdPagination($event)"
    (backward)="backwardPagination($event)"
    [disableForward]="disableForward"
    [disableBackward]="disableBackward"
    [loader]="loader"
  ></app-table>
  <div class="flex flex-col justify-center min-h-[70vh] items-center">
    <app-button
      color="btn-primary"
      textColor="text-base-100"
      [wide]="true"
      text="Edit"
      (onClick)="addStudents()"
      text="Add Student"
      class="min-w-[100px]"
      *ngIf="showAddButton"
    ></app-button>
  </div>
</div>
<div *ngIf="loader">
  <app-loader></app-loader>
</div>

<app-success-dialog
  dialogId="dialog"
  [title]="dialogTitle"
  [message]="message"
  [dismiss]="button"
  [action]="button2"
  (dismissed)="dismiss()"
  (confirm)="confirmDelete()"
  [twoButtons]="true"
></app-success-dialog>
