<div class="overflow-x-auto shadow-lg rounded-xl">
  <table class="table w-full">
    <thead>
      <tr>
        <th
          class="header normal-case font-normal text-base"
          *ngFor="let column of columns"
        >
          {{ column || "NULL" }}
        </th>
        <th class="header"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of dataShown">
        <td *ngFor="let item of items.data" [innerHTML]="item || 'NULL'"></td>
        <td
          class="flex justify-evenly items-center"
          *ngIf="items.actionButtons"
        >
          <app-button
            color="btn-primary"
            textColor="text-white"
            *ngIf="items.actionButtons?.edit?.isActive"
            [small]="true"
            text="Edit"
            (onClick)="clickEdit(items.id)"
            [text]="items.actionButtons?.edit.text"
            class="min-w-[100px]"
          ></app-button>
          <app-button
            color="btn-outline"
            textColor="text-black"
            *ngIf="items.actionButtons?.delete?.isActive"
            [small]="true"
            text="Delete"
            (onClick)="clickDelete(items.id)"
            [text]="items.actionButtons?.delete.text"
            class="min-w-[100px]"
          ></app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="btn-group mt-8 w-full flex justify-end rounded-3xl outline-none"
  *ngIf="showPagination"
>
  <button
    class="btn rounded-xl bg-primary outline-none"
    (click)="back()"
    [disabled]="disableBack"
  >
    «
  </button>
  <button class="btn rounded-xl bg-primary outline-none">
    {{ currentPage }}
  </button>
  <button
    class="btn rounded-xl bg-primary outline-none"
    (click)="forward()"
    [disabled]="disableForward"
  >
    »
  </button>
</div>
