<div class="flex justify-between mt-8 p-4 w-full">
  <h1 class="">Candidates</h1>
</div>
<div class="p-4">
  <search-drop-down
    [FGN]="candidateForm"
    FCN="searchInput"
    (itemClicked)="viewCandidate($event)"
    (searchClicked)="search()"
    [results]="searchValues"
  ></search-drop-down>
  <!-- <app-table
    [columns]="columns"
    [data]="data"
    [actionButtons]="true"
    (editClicked)="viewCandidate($event)"
    [numberOfPages]="numberOfPages"
    [showPagination]="true"
    [currentPage]="currentPage"
    (forward)="forawrdPagination($event)"
    (backward)="backwardPagination($event)"
    [disableForward]="disableForward"
    [disableBackward]="disableBackward"
    [loader]="loader"
  ></app-table> -->
</div>
