<div class="flex justify-between mt-4 p-4 w-full">
  <h1 class="">Students</h1>
  <app-button
    color="btn-primary"
    textColor="text-base-100"
    [xSmall]="true"
    text="Edit"
    (onClick)="addStudents()"
    text="Add Student"
    class="min-w-[100px]"
  ></app-button>
</div>
<div class="p-4">
  <div class="mb-4">
    <search-drop-down
      [FGN]="candidateForm"
      FCN="searchInput"
      (itemClicked)="viewCandidate($event)"
      (searchClicked)="search()"
      [loader]="searchLoader"
      [results]="searchValues"
      (cancel)="cancelSearch()"
    ></search-drop-down>
  </div>
  <app-table
    *ngIf="!showResults"
    [columns]="columns"
    [data]="data"
    [actionButtons]="true"
    (editClicked)="viewCandidate($event)"
    [numberOfPages]="numberOfPages"
    [showPagination]="true"
    [currentPage]="currentPage"
    (forward)="forawrdPagination($event)"
    (backward)="backwardPagination($event)"
    [disableForward]="disableForward"
    [disableBackward]="disableBackward"
    [loader]="loader"
  ></app-table>
</div>
